process {
    executor = 'local'
    container = 'metaboanalyst-container:latest'
    scratch = true // Create a temporary directory for each process
    publishDirMode = 'copy'
}

params {
    runFile = null // Input RunFile
    outputDir = './output' // Directory for final output files
}

docker {
    enabled = true
    runOptions = '--rm' // Remove container after execution
}

